In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests

#import API key
from config import g_key

In [2]:
#store csv file created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,CA,2021-10-18 21:28:44,63.7506,-68.5145,35.33,87,90,18.99
1,1,Bambous Virieux,MU,2021-10-18 21:25:51,-20.3428,57.7575,74.21,78,75,12.66
2,2,Bengkulu,ID,2021-10-18 21:28:44,-3.8004,102.2655,73.26,95,100,3.65
3,3,Jamestown,US,2021-10-18 21:28:44,42.0970,-79.2353,55.33,59,20,8.01
4,4,Mayachnyy,RU,2021-10-18 21:28:45,52.6839,55.6850,50.54,32,100,11.92

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use google API key
gmaps.configure(api_key=g_key)

In [5]:
#get maximum temperature above 0F
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
    
#or if using list comprehension to replace the for loop
#[max(temp,0) for temp in max_temp]

In [6]:
#heatmap of temperature
#get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#get maximum temperature
#max_temp = city_data_df["Max Temp"]

#assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask the cutomer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Meulaboh,ID,2021-10-18 21:27:56,4.1363,96.1285,77.86,84,100,2.82
11,11,Puerto Narino,CO,2021-10-18 21:28:47,-3.7703,-70.3831,85.95,92,100,2.53
14,14,Atuona,PF,2021-10-18 21:28:47,-9.8000,-139.0333,77.58,78,29,19.69
28,28,Rikitea,PF,2021-10-18 21:28:51,-23.1203,-134.9692,75.42,75,12,19.53
32,32,Butaritari,KI,2021-10-18 21:28:52,3.0707,172.7902,81.55,70,18,8.30
33,33,Salalah,OM,2021-10-18 21:28:52,17.0151,54.0924,78.89,78,20,5.75
39,39,Vaini,TO,2021-10-18 21:28:54,-21.2000,-175.2000,78.96,78,75,11.50
41,41,San Patricio,US,2021-10-18 21:28:54,28.0170,-97.5169,82.81,48,8,12.26
50,50,Raymondville,US,2021-10-18 21:28:57,26.4815,-97.7831,85.59,45,22,10.76
51,51,Ponta Do Sol,PT,2021-10-18 21:28:57,32.6667,-17.1000,76.01,27,100,2.10

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [16]:
#create dataframe called hotel_df to store hotel names along with city, country, 
#max temp, and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6        Meulaboh      ID     77.86   4.1363   96.1285
11  Puerto Narino      CO     85.95  -3.7703  -70.3831
14         Atuona      PF     77.58  -9.8000 -139.0333
28        Rikitea      PF     75.42 -23.1203 -134.9692
32     Butaritari      KI     81.55   3.0707  172.7902
33        Salalah      OM     78.89  17.0151   54.0924
39          Vaini      TO     78.96 -21.2000 -175.2000
41   San Patricio      US     82.81  28.0170  -97.5169
50   Raymondville      US     85.59  26.4815  -97.7831
51   Ponta Do Sol      PT     76.01  32.6667  -17.1000

In [17]:
#set the parameters to search for a hotel
params = {"radius": 5000,
         "type": "lodging",
         "key": g_key}

In [20]:
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        pass

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Meulaboh,ID,77.86,4.1363,96.1285,Kost Pria
11,Puerto Narino,CO,85.95,-3.7703,-70.3831,Eware Refugio Amazonico
14,Atuona,PF,77.58,-9.8000,-139.0333,Villa Enata
28,Rikitea,PF,75.42,-23.1203,-134.9692,People ThankYou
32,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
33,Salalah,OM,78.89,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
39,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
41,San Patricio,US,82.81,28.0170,-97.5169,"Motel 6 Sinton, TX"
50,Raymondville,US,85.59,26.4815,-97.7831,La Quinta Inn & Suites by Wyndham Raymondville
51,Ponta Do Sol,PT,76.01,32.6667,-17.1000,Hotel do Campo

In [29]:
#add heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [28]:
#Store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]